@import "../../styles/variables";

.button {
  border: none;
  outline: none;
  padding: 12px 0;
  text-decoration: none;
  font-family: Inter, sans-serif;

  &_prime {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: $primeBlue;
    border-radius: 8px;

    > span {
      font-size: 13px;
      color: #fff;
    }
  }

  &_second {
    background-color: transparent;
    color: $primeBlue;
    font-size: 11px;
  }

  &.message-send {
    width: 28px;
    height: 28px;
    background-color: $primeBlue;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='5.19995' width='11' height='1.6' fill='white'/%3E%3Cpath d='M7 1L11 6L7 11' stroke='white' stroke-width='1.6'/%3E%3C/svg%3E");
    background-size: 13px 12px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
