.chatcontrolmodal {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(55,55,55,.3);
    &_visble {
        display: flex;
    }
    &__container {
        background-color: salmon;
    }
}